doctype html
html
	head
		meta(charset="UTF-8")
		title CV Jairo Cruz
		meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
		link(rel="stylesheet" href="css/reset.css")
		link(rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900')
		link(rel="stylesheet" href="css/cv.css")
		script(src="js/prefixfree.min.js")
		script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-66382140-1', 'auto');  ga('send', 'pageview');
	body
		//Header
		header.menuHidden
			.top-bar
				button.menu
					em.hamburger
				script(type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js")
				#SkypeButton_Call_opplyst_1.skype
					script(type="text/javascript")!= "Skype.ui({'name': 'chat','element': 'SkypeButton_Call_opplyst_1','participants': ['jhonjalurne'],'imageColor' : 'white','imageSize': 24});"
				a.mail(href="#contact") jhon_jairo@live.com
		//Navigation Bar
		nav
			.grid
				a(href="#about") About
				a(href="#skills") Skills
				a(href="#experience") Experience
				a(href="#works") Works
				a(href="#weaknesses") Weaknesses
				a(href="#contact") Contact
		main.grid(role="main")
			//Hero
			section.box.white-box.hero#about
				img.thumb(src="img/opplyst.jpg")
				h1 Jhon Jairo Cruz
				h2 Software Developer & Game Developer
				p Hello and welcome, I am a software developer with experience in Microsoft tools, with expertise in financial business, air cargo, education and logistics. With capacity to adopt new technologies easily and apply them, I call myself 'Cacharrero' (Always wishing to learn something new, anxious to know how the world works), I am passionate about finding new ways of doing things, to make life easier for the people.
				a.btn.blue(href="#" target="_blank") View C.V.
				a.btn.green(href="#experience") See Experience
			h3#skills Skills
			section.box.grey-box.skills-box
				.col
					h4 Professional
					ul
						li .Net Developer (VB.Net C# Asp.Net...)
						li Javascript (jQuery Bootstrap JSON AJAX...)
						li Git and other software of source control
						li Databases Design (SQL Server Oracle MySQL DB2)
						li Develop systems for Financial business
						li SCRUM Methodology
				.col
					h4 Personal
					ul
						li Obsessed with details
						li Able to lead groups
						li Easily learn new technologies
						li Honest and Professional
						li If necessary I break the rules
						li I Really love videogames
			// Experience
			h3#experience Experience
			section
				ul.timeline
					li.box
						strong Software Enginner - CargoMaster S.A.S.
						span February, 2014 ~ 
						p Developing applications for air cargo and marine, especially flowers and fruit transport. Manage .Net technologies, SQLServer, DevExpress, Javascript, jQuery, Ajax, Asp Classic, WCF, MVC, LinQ, JSON, HTML5 among others, design and interfaces to ERP, accounting software, software development internal for rates.
							a.link(href="http://www.cargomaster.ws" target="_blank" class="link") CargoMaster.ws
					li.box
						strong Team Leader - Soluciones Lógicas Yayan-Gaia (SLYG)
						span August, 2011 ~ December 2013
						p  Developing applications for the Group BRINKS (Brinks, Procesos y Canje, Domesa, e-Pago) used to service the financial sector such as Banco Agrario de Colombia, AV Villas, Citibank, Davivienda, Confinanciera, Credivalores, Crediservicios, Coomeva, and Pensiones y Cesantias Horizonte. Product development as Fluxus (BPM), Block (Software Construction). Management technologies .Net, SQL Server, Oracle, Postgres, MySQL, Reporting Services, WCF, Ajax, HTML5, jQuery
							a.link(href="http://slyg.com.co/sitio/" target="_blank" class="link")  Soluciones Logicas Yayan-Gaia
					li.box
						strong Systems Analyst - BankVision
						span July, 2009 ~ July 2011
						p  Maintaining SQL Server and DB2 Databases, applications and Web development in .NET languages, reporting on ReportPortal with SQL, automated reporting, training, management meetings, development of applications for loan factorys, scoring, unique customer database, leadership projects.
							a.link(href="http://www.bankvision.com" target="_blank" class="link") BankVision
			// Works
			h3#works Portfolio
			section
				ul.cards
					li.card.dark
						a.box(href="http://www.cargomaster.ws" target="_blank")
							img(src="img/CargoMaster.png")
							.summary
								h4 CargoMaster
								span.category Asp.Net SqlServer Javascript jQuery AWS and others
							p CARGOMASTER S.A., an international IATA and BASC certified freight forwarder which began operations in 1987 in the city of Bogotá, Colombia, and since it has specialized in the handling of cargo imports and exports. At present it also has branch offices in Medellín, Colombia; and in Quito and Guayaquil in Ecuador
					li.card
						a.box(href="http://slyg.com.co" target="_blank")
							img(src="img/slyg.png", alt="")
							.summary.kiteops-summary
								h4 SLYG
								span.category Asp.Net SQLServer jQuery Oracle and others
							p Soluciones Logicas Yayan-Gaia is a company that makes business management programs according the requirements of Colombian companies formed by a multidisciplinary team of experts in software architecture, design and document management processes. With five years of experience in the market, offering solutions to various economic sectors such as finance, construction, solidarity, health, among others
					li.card.card-kiteops
						a.box(href="http://www.bankvision.com/" target="_blank")
							img(src="img/bankvision.png")
							.summary.benevol-summary
								h4 BankVision
								span.category Asp.Net SQlServer DB2 Javascript and others
							p BankVision product portfolio is geared to meet the demands of building software for companies of all sectors. BankVision specializes in the financial sector, which offers solutions for banks, commercial finance companies, investment funds, financial cooperatives and multiactive, compensation funds and generally companies engaged in financial business.
				
			//Weaknesses
			h3#weaknesses Weaknesses
			section.box.grey-box.skills-box
				.col
					h4 Professional
					ul
						li Perfeccionist
						li Not graduated yet
				.col
					h4 Personal
					ul
						li Sometimes I'm temperamental
						li I get distracted easily
				p.footnote.
					Sadly, in all my works they are internal developments, so I can not show you all the things I've done. 
					But I'm working on a portfolio in github to see what I can do
			//Contact
			h3#contact Get in touch
			form.box.white-box.contact(novalidate)
				.field
					input#fname(name="first_name", type="text" required)
					label(for="fname") First Name
				.field
					input#lname(name="last_name", type="text" required)
					label(for="lname") First Name
				.field
					input#email(name="email", type="text" required)
					label(for="email") Email Address
				.field.field_optional
					input#company(name="company_name", type="url")
					label(for="company") Company Name
				.field.field-textarea
					textarea#message(name="message" required)
					label(for="message") Message
				.message.message_success.
					It seems that an error has occurred, I am ashamed
					,Please try again, or send a direct email to jhon_jairo@live.com
					,Thank you!
				.message.message_error Thank you for contacting me, I will try to respond ASAP.
				.center
					input.btn.green#submitform(type="submit" value="Send Email")
		footer.grid.box.white-box
			a.link.codepen(href="https://github.com/opplyst/" target="_blank") GitHub 
			a.link.twitter(href="https://twitter.com/opplystRajat" target="_blank") Twitter 
			a.link.facebook(href="https://facebook.com/opplyst.rajat") Facebook 
			a.link.codepen(href="https://co.linkedin.com/in/jhonjairocruzjimenez/" target="_blank") LinkedIn
			
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js")
		script(src="js/index.js")