<footer class="site-footer">


    <div class="wrapper">

        <p class="description">
            {% if site.description_footer %} {{site.description_footer}} {% endif %}
        </p>
        <br/>
        <p class="contact">
            Contáctame en: {% if site.github_username %}
            <a href="https://github.com/{{site.github_username}}" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a> {% endif %}
            {% if site.email %}
            <a href="mailto:{{site.email}}" title="email"><i class="fas fa-envelope" aria-hidden="true"></i></a> {% endif %}
            {% if site.twitter_username %}
            <a href="https://twitter.com/{{site.twitter_username}}" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a> {% endif %} {% if site.facebook_username %}
            <a href="https://www.facebook.com/{{site.facebook_username}}" title="Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a> {% endif %}
            {% if site.linkedIn_username %}
            <a href="https://www.linkedin.com/in/{{site.linkedIn_username}}" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a> {% endif %}
            {% if site.whatsapp_username %}
            <a href="https://api.whatsapp.com/send?phone={{site.whatsapp_username}}" title="WhatsApp"><i class="fab fa-whatsapp" aria-hidden="true"></i></a> {% endif %}
            {% if site.instagram_username %}
            <a href="https://www.instagram.com/{{site.instagram_username}}" title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a> {% endif %}
        </p>
        <p>
            <i class="fab fa-pied-piper"></i>Jhon Jairo Cruz &copy; 2018 <i class="fab fa-empire"></i>
        </p>
        <p class="power">
            <span>
                Agradecimientos especiales a <a href="https://github.com/Gaohaoyang">HyG</a>.
            </span>
        </p>
    </div>
</footer>
