<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jhon Jairo Cruz - Who is?</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NBPN5CF');
    </script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900">
    <link rel="stylesheet" href="css/cv.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <script src="js/prefixfree.min.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBPN5CF"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

{{ content }}
<footer class="grid box white-box"><i class="fab fa-pied-piper"></i>Jhon Jairo Cruz &copy; 2018 <i class="fab fa-empire"></i></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script src="js/index.js"></script>

</body>
</html>